.git
.gitignore
.gitattributes
.github
.vs
.vscode
.idea

**/bin
**/obj
**/*.user
**/*.suo

**/*.db
**/*.db-shm
**/*.db-wal

.env
.env.*
**/secrets.json
appsettings.Development.json

.DS_Store
AGENTS.md
README.md
Dockerfile*
.dockerignore
